:root {
    --background-color: #f0f0f0;
    --box-background-color: #fff;
    --text-color: #333;
    --border-color: #ccc;
    --button-hover-color: #e0e0e0;
    --error-color: #ff6b6b;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    background-color: var(--box-background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

.input-group {
    margin-bottom: 20px;
}

input, select, button {
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1rem;
    color: var(--text-color);
}

button {
    cursor: pointer;
    background-color: var(--box-background-color);
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-hover-color);
}

#weatherInfo {
    margin-top: 20px;
    background: var(--box-background-color);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.error {
    color: var(--error-color);
    font-weight: bold;
}