:root {
    --primary-color: #5D93E1;
    --secondary-color: #FFC857;
    --accent-color: #F76C6C;
    --background-color: #F2F2F2;
    --text-color: #333;
    --box-background-color: #fff;
    --border-color: #ddd;
    --button-hover-color: #e0e0e0;
    --error-color: #ff6b6b;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    background-color: var(--box-background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 380px;
}

.input-group {
    margin-bottom: 20px;
}

input, select, button {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1rem;
    color: var(--text-color);
    width: calc(100% - 22px);
}

button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-hover-color);
}

.weather-info {
    margin-top: 20px;
    background: var(--box-background-color);
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.weather-icon {
    width: 50px;
    height: 50px;
    margin: 5px auto;
}

.error {
    color: var(--error-color);
    font-weight: bold;
}

@media (max-width: 600px) {
    body {
        height: auto;
        min-height: 100vh;
    }

    #app {
        margin: 20px;
        width: auto;
    }
}